Package: rgb-control
Version: 1.0.10-1
Section: utils
Priority: optional
Architecture: all
Depends: python3, python3-gi, python3-gi-cairo, gir1.2-gtk-4.0, gir1.2-adw-1
Maintainer: Sant <sant@local>
Description: Interface Gráfica moderna em GTK4 para controle do OpenRGB com integrações.
